APP_NAME=Information Retrieval API
APP_ENVIRONMENT=development
APP_UI_ORIGIN=http://localhost:5173

APP_DATABASE_URL=postgresql+psycopg://information_retrieval:information_retrieval@localhost:54322/information_retrieval
APP_CRAWLER_BASE_DOMAIN=https://vnexpress.net/
APP_CRAWLER_SEED_URLS=["https://vnexpress.net/kinh-doanh"]
